
 <p>Name of the employee: <%= @employee.first_name%> <%= @employee.last_name%> </p>
 <p>Email: <%= @employee.email%></p>
 <p>Phone Number: <%= @employee.phone_num%>
 <p>Hire Date: <%= @employee.hire_date%>
 <p>Job Title: <%= @employee.job_title%>
 <p>Department: <%= @employee.department%>


<div>
  
  <%= link_to "Back to employees", employees_path %>
  
</div>
