<div class="row">
  <div class=" col-lg-3">
    <%= form_with model: @attendence do |form| %>
      <div class="field">
        <%= form.label :check_in_time%>
        <%= form.time_field :check_in_time , class:"form-control", placeholder:"Check in time" %>
      </div>
      <div class="field">
        <%= form.label :check_out_time %>
        <%= form.time_field :check_out_time,  class:"form-control", placeholder:"Check out time" %>
      </div>
      <div class="field">
        <%= form.label :date %>
        <%= form.date_field :date, class:"form-control", placeholder:"Date"%>
      </div>
      <div class="field">
        <%= form.collection_select :employee_id, @employees, :id, :first_name,  prompt: "Select a employee" %>
      </div>
      <div class="actions">
        <%= form.submit  %>
      </div>
    <% end %>
  </div>
</div>
